<aside class="warning">
<p>
<strong>Warning:</strong>
<em>Approximate computing</em> is a trend in computer systems research that
seeks to trade off accuracy for efficiency. This post assumes some familiarity
with, or at least a passing interest in, recent work on approximation. It
could get boring otherwise. For context, you may be interested in reading a <a href="http://spectrum.ieee.org/computing/software/enerj-the-language-of-goodenough-computing">magazine article</a> or older <a href="{{ site.base }}/blog/">posts on this blog</a>.
</p>
</aside>
