<li class="paper">
    <span class="title">
    {% if paper.url %}<a href="{{ paper.url | replace: 'BASE', site.base }}">{% endif %}{% if paper.book %}<i>{% else %}&ldquo;{% endif %}{{ paper.title }}.{% if paper.book %}</i>{% else %}&rdquo;{% endif %}{% if paper.url %}</a>{% endif %}
    </span>
    <span class="authors">{{ paper.authors }}.</span>
    {% if paper.venue %}
    <span class="venue">
        {% if paper.type == "tr" %}
        {{ paper.venue }}
        {% else %}
        {% if paper.pre %}To appear in{% else %}In{% endif %}
        {% if paper.venue_url %}<a href="{{ paper.venue_url }}">{% endif %}{{ paper.venue }}{% if paper.venue_url %}</a>{% endif %}{% if paper.with %} (co-located with {{ paper.with }}){% endif %}.
        {% endif %}
    </span>
    {% endif %}
    {% if paper.extra %}
    <ul class="extras">
    {% for extra in paper.extra %}
        <li>{{ extra | replace: 'BASE', site.base | markdownify | replace: '<p>', '' | replace: '</p>', '' }}</li>
    {% endfor %}
    </ul>
    {% endif %}
</li>
