/* Regular-weight Source Sans Pro. */
@SANS: "font/source-sans-pro";
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src:
    local('SourceSansPro-Regular'),
    local('Source Sans Pro'),
    url('@{SANS}/WOFF2/TTF/SourceSansPro-Regular.ttf.woff2') format('woff2'),
    url('@{SANS}/WOFF/OTF/SourceSansPro-Regular.otf.woff') format('woff'),
    url('@{SANS}/OTF/SourceSansPro-Regular.otf') format('opentype'),
    url('@{SANS}/TTF/SourceSansPro-Regular.ttf') format('truetype');
}

/* Alegreya for body text. Regular, italic, bold, bold italic. */
@SERIF: "font/source-serif-pro";
@font-face {
  font-family: 'Source Serif Pro';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src:
    local('SourceSerifPro-Regular'),
    local('Source Serif Pro'),
    url('@{SANS}/WOFF2/TTF/SourceSerifPro-Regular.ttf.woff2') format('woff2'),
    url('@{SANS}/WOFF/OTF/SourceSerifPro-Regular.otf.woff') format('woff'),
    url('@{SANS}/OTF/SourceSerifPro-Regular.otf') format('opentype'),
    url('@{SANS}/TTF/SourceSerifPro-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Serif Pro';
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  src:
    local('SourceSerifPro-Italic'),
    local('Source Serif Pro Italic'),
    url('@{SANS}/WOFF2/TTF/SourceSerifPro-Italic.ttf.woff2') format('woff2'),
    url('@{SANS}/WOFF/OTF/SourceSerifPro-Italic.otf.woff') format('woff'),
    url('@{SANS}/OTF/SourceSerifPro-Italic.otf') format('opentype'),
    url('@{SANS}/TTF/SourceSerifPro-Italic.ttf') format('truetype');
}
