/* Regular-weight Source Sans Pro. */
@SSP: "font/source-sans-pro";
@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src:
    local('SourceSansPro-Regular'),
    local('Source Sans Pro'),
    url('@{SSP}/WOFF2/TTF/SourceSansPro-Regular.ttf.woff2') format('woff2'),
    url('@{SSP}/WOFF/OTF/SourceSansPro-Regular.otf.woff') format('woff'),
    url('@{SSP}/OTF/SourceSansPro-Regular.otf') format('opentype'),
    url('@{SSP}/TTF/SourceSansPro-Regular.ttf') format('truetype');
}

/* Merriweather for body text. Regular, italic, bold, bold italic. */
@MW: "font/merriweather";
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src:
    local('Merriweather'),
    local('Merriweather-Light'),
    url('@{MW}/TypoPRO-Merriweather-Light.woff') format('woff'),
    url('@{MW}/TypoPRO-Merriweather-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src:
    local('Merriweather Bold'),
    local('Merriweather-Bold'),
    url('@{MW}/TypoPRO-Merriweather-Bold.woff') format('woff'),
    url('@{MW}/TypoPRO-Merriweather-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  src:
    local('Merriweather Italic'),
    local('Merriweather-Italic'),
    url('@{MW}/TypoPRO-Merriweather-LightItalic.woff') format('woff'),
    url('@{MW}/TypoPRO-Merriweather-LightItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 700;
  src:
    local('Merriweather BoldItalic'),
    local('Merriweather-BoldItalic'),
    url('@{MW}/TypoPRO-Merriweather-BoldItalic.woff') format('woff'),
    url('@{MW}/TypoPRO-Merriweather-BoldItalic.ttf') format('truetype');
}
