<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>
            {% if page.plain %}{{ page.title }}{% else %}{{ site.name }}{% if page.title %}: {{ page.title }}{% endif %}{% endif %}
        </title>

        <link rel="stylesheet" href="{{ site.base }}/media/main.css">
        <link rel="alternate" type="application/json" href="{{ site.base }}/feed.json" title="JSON Feed">
        <link rel="alternate" type="application/rss+xml" href="{{ site.base }}/blog.xml" title="Atom">
        <link rel="me" href="https://discuss.systems/@adrian">
        <link rel="me" href="https://mastodon.social/@samps">

        <link rel="icon" href="{{site.base}}/media/icon/favicon.ico">
        <link rel="apple-touch-icon-precomposed" href="{{site.base}}/media/icon/favicon152.png">

        {% if page.date %}
        {% capture newline %}
{% endcapture %}
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="{{ site.twitter }}">
        <meta name="twitter:creator" content="{{ site.twitter }}">
        <meta name="twitter:title" content="{{ page.title }}">
        <meta name="twitter:image" content="{{ site.logo }}">
        <meta name="twitter:description"
            content="{{ page.excerpt | markdownify | strip_html | replace: newline, " " }}">

        <meta property="og:type" content="article">
        <meta property="og:title" content="{{ page.title }}">
        <meta property="og:image" content="{{ site.logo }}">
        <meta property="og:description"
            content="{{ page.excerpt | markdownify | strip_html | replace: newline, " " }}">

        <meta name="fediverse:creator" content="@adrian@discuss.systems" />
        {% endif %}

        {% if page.collection == "drafts" or page.title == "Blog Drafts" %}
        <!-- Don't index drafts. -->
        <meta name="robots" content="noindex">
        {% endif %}

        {% if page.mathjax %}
        <!-- KaTeX -->
        <link rel="stylesheet" href="{{ site.base }}/media/katex/katex.min.css">
        {% endif %}
    </head>
    <body>
        <div class="container{% if page.class %} {{ page.class }}{% endif %}">

            {% if page.plain != true %}
            <header>
                <div id="leader">
                    <h1>
                        <a href="{{ site.base }}/">{{ site.name }}</a>
                    </h1>
                    <address>
                        <a href="http://www.cs.cornell.edu/">Department of
                            Computer Science</a><br>
                        <a href="http://www.cornell.edu/">Cornell University</a>
                    </address>
                </div>
                <nav>
                    {% assign shorturl = page.url | replace:'index.html','' %}
                    {% for item in site.navigation %}
                    <a
                        {% if item.link == shorturl or item.link == '/blog/' and page.date %}
                            class="active"
                        {% endif %}
                        href="{{ site.base }}{{ item.link }}">
                        {{ item.title }}
                    </a>
                    {% endfor %}
                </nav>
            </header>
            {% endif %}

            {{ content }}

        </div>

        {% if page.mathjax %}
        <!-- KaTeX -->
        <script src="{{ site.base }}/media/katex/katex.min.js"></script>
        <script src="{{ site.base }}/media/katex/contrib/auto-render.min.js"></script>
        <script>
            // KaTeX auto-render.
            renderMathInElement(document.body, {
                delimiters: [
                    {left: "$$", right: "$$", display: true},
                    {left: "\\[", right: "\\]", display: true},
                    {left: "$", right: "$", display: false}
                ]
            });
        </script>
        {% endif %}
        {{ page.tail | replace: 'BASE', site.base }}
    </body>
</html>
