---
layout: default
---
<div class="blurb">
    {{ content }}
</div>

<article class="blogpreview">
    {% assign post = site.posts[0] %}
    <p class="tagline">
        latest <a href="/blog/">blogging</a>:
        {{ post.date || date_to_long_string }}
        &mdash;
        <a href="/blog/">more bloggings</a>
        &mdash;
        <a href="/blog.xml">subscribe</a>
    </p>
    <h2>
        <a href="{{ post.url }}">{{ post.title }}</a>
    </h2>
    <p class="excerpt">
        {{ post.excerpt }}
    </p>
</article>
