---
layout: default
---
<div class="blurb">
    {{ content }}
</div>

<article class="preview alone">
    {% assign post = site.posts[0] %}
    <p class="tagline">
        latest <a href="{{ site.base }}/blog/">blogging</a>:
        {{ post.date || date_to_long_string }}
        &mdash;
        <a href="{{ site.base }}/blog/">more bloggings</a>
        &mdash;
        <a href="{{ site.base }}/blog.xml">subscribe</a>
    </p>
    <h3>
        <a href="{{ site.base }}{{ post.url }}">{{ post.title }}</a>
    </h3>
    <div class="excerpt">
        {{ post.excerpt | replace: 'SITE_BASE', site.url | markdownify }}
        <p class="tagline">
        <a href="{{ site.base }}{{ post.url }}">keep reading&hellip;</a>
        </p>
    </div>
</article>

<div class="portrait">
    <img src="{{ site.base }}/media/westminster.jpg" alt="me"
        class="img-responsive">
</div>
