---
layout: default
---
<div class="blurb">
    {{ content }}
</div>

{% for post in site.posts limit:4 %}
<article class="preview compact">
    <h3>
        <a href="{{ site.base }}{{ post.url }}">{{ post.title }}</a>
    </h3>
    <p class="tagline">
        {{ post.date | date: '%B %-d, %Y' }}
    </p>
    <div class="excerpt">
        {{ post.excerpt | replace: 'SITE_BASE', site.url | markdownify }}
    </div>
</article>
{% endfor %}

<p class="tagline">
    <a href="{{ site.base }}/blog/">see all blog posts</a>
    &mdash;
    <a href="{{ site.base }}/blog.xml">subscribe</a>
</p>
