---
layout: default
---
<h2 class="with-tagline">{{ page.title }}</h2>
{% if page.collection == "drafts" %}
<p class="tagline">unpublished draft</p>
{% else %}
<p class="tagline">{{ page.date | date: '%B %-d, %Y' }}</p>
{% endif %}
<article class="full">
{{ content }}
</article>

<footer>
Have comments or questions?
Please
<a href="mailto:{{ site.email }}?subject={{ page.title | prepend: 'Re: ' | url_escape }}">drop me an email</a>
or toot to
<a href="https://discuss.systems/@adrian">@adrian@discuss.systems</a>.
If you find a typo, please consider <a href="{{site.ghrepo}}/edit/master/{{page.path}}">sending a pull request</a>.
</footer>
